.ContainedEmployeesNew{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraphs{
    font-family: 'Dosis', sans-serif !important;
    font-weight: 700 !important;
}